:root {
    font-family: Consolas, monospace;
}
.centered {
    text-align: center;
}
main {
    max-width: 500px;
    margin: 0 auto;
}
#status_image {
    width: 100%;
    max-width: 256px;
    border-radius: 50%;
}
#status_image.r {
    animation: spin 5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#progress {
    display: none;
    width: 90%;
    width: min(20rem, 90%);
    height: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0 2rem;
    outline-offset: 2px;
    outline: #244d75 solid 4px;
}
.bar-inner {
    background-color: #244d75;
    height: 100%;
    width: 0;
    transition: width 0.25s ease-in;
}
a {
    color: blue;
    text-decoration: none;
}
#continue_button:not([hidden]) {
    display: block;
}
#continue_button {
    margin-bottom: 1em;
    font-size: large;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: blue;
    font-weight: bold;
}
#hint {
    margin: 10px 0;
}
main details+details {
    margin-top: 10px;
}
#hint_retry_btn {
    margin-left: 0.5em;
}
.technical {
    white-space: pre;
    font-family: Consolas, monospace;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
}
